section {
    padding: 1rem;
    padding-left: 280px;
    background-color: #00aecc;
    min-height: calc(100vh - 45px);
    header {
        margin-bottom: 1rem;
    }
}
.card__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
        margin: -20px 0px 0px 0px;
    }
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    margin-bottom: .5rem;
}
.list {
    margin: 1.2rem 0 0 0;
}
.card {
    width: 280px;
    padding: 12px 8px 8px 8px;
    margin: 0px 10px 0px 0px;
    background-color: #ebecf0;
}
:host .mat-form-field {
    width: 100%;
}
.container-fixed {
    overflow-x: hidden;
}
.content__container {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
}
.add-column {
    display: flex;
    width: 280px;
    align-items: start;
    background-color: #3dc1d8;
    height: auto;
    p {
        padding: 12px 13px 0px 0px;
    }
}
.card__delete {
    display: none;
}
.card:hover .card__delete {
    display: block;
}
.example-list {
    min-height: 5px;
    background: #ebecf0;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}
.example-box {
    padding: 0px 0px 0px 10px;
    border-bottom: solid 1px #ccc;
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    font-size: 14px;
}
.add-card {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
        margin: 0;
        padding: 5px 0px 0px 0px;
    }
}
.form-input {
    margin: 10px 0 10px 0;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
    border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    background-color: #fff;
    min-height: 30px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 0.5em 0;
}
::ng-deep .mat-form-field-infix {
    padding: 1em 0 0.5em 0;
    border-top: .34375em solid rgba(0,0,0,0);
}
